interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//iex/CVS/prices?endDate=2017-07-01&resampleFreq=1min&startDate=2017-06-01&ticker=CVS
  response:
    body: {string: '[{"date":"2017-06-26T15:44:00.000Z","open":79.63,"high":79.63,"low":79.63,"close":79.63},{"date":"2017-06-26T15:45:00.000Z","open":79.63,"high":79.63,"low":79.63,"close":79.63},{"date":"2017-06-26T15:46:00.000Z","open":79.73,"high":79.75,"low":79.7,"close":79.75},{"date":"2017-06-26T15:47:00.000Z","open":79.75,"high":79.75,"low":79.75,"close":79.75},{"date":"2017-06-26T15:48:00.000Z","open":79.795,"high":79.795,"low":79.735,"close":79.735},{"date":"2017-06-26T15:49:00.000Z","open":79.735,"high":79.85,"low":79.72,"close":79.85},{"date":"2017-06-26T15:50:00.000Z","open":79.85,"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//iex/AAPL/prices?endDate=2017-07-01&resampleFreq=1min&startDate=2017-06-01&ticker=AAPL
  response:
    body: {string: '[{"date":"2017-06-26T16:16:00.000Z","open":145.74,"high":145.74,"low":145.74,"close":145.74},{"date":"2017-06-26T16:17:00.000Z","open":145.74,"high":145.74,"low":145.74,"close":145.74},{"date":"2017-06-26T16:18:00.000Z","open":145.74,"high":145.74,"low":1[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//iex/FB/prices?endDate=2017-06-02&resampleFreq=1min&startDate=2017-06-01&ticker=FB
  response:
    body: {string: '[{"date":"2017-06-01T13:31:00.000Z","open":151.725,"high":151.725,"low":151.725,"close":151.725},{"date":"2017-06-01T13:32:00.000Z","open":151.725,"high":151.725,"low":151.725,"close":151.725},{"date":"2017-06-01T13:33:00.000Z","open":151.725,"high":151.725,"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//iex/MSFT/prices?endDate=2017-06-26&resampleFreq=1min&startDate=2017-06-01&ticker=MSFT
  response:
    body: {string: '[{"date":"2017-06-20T15:44:00.000Z","open":70.015,"high":70.015,"low":70.015,"close":70.015},{"date":"2017-06-20T15:45:00.000Z","open":70.015,"high":70.015,"low":70.015,"close":70.015},{"date":"2017-06-20T15:46:00.000Z","open":70.015,"high":70.015,"low":7[...]
