interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//iex/AAPL/prices?endDate=2017-12-01&resampleFreq=5min&startDate=2017-11-30&ticker=AAPL
  response:
    body: {string: '[{"date":"2017-11-30T14:30:00.000Z","open":170.53,"high":170.53,"low":169.475,"close":170.06},{"date":"2017-11-30T14:35:00.000Z","open":170.0,"high":170.22,"low":168.47,"close":168.47},{"date":"2017-11-30T14:40:00.000Z","open":169.07,"high":169.77,"low":168.84,"close":169.77},{"date":"2017-11-30T14:45:00.000Z","open":169.77,"high":170.28,"low":169.61,"close":170.27},{"date":"2017-11-30T14:50:00.000Z","open":170.06,"high":170.075,"low":169.84,"close":169.91},{"date":"2017-11-30T14:55:00.000Z","open":170.1,"high":170.13,"low":169.94,"close":170.015},{"date":"2017-11-30T15:00:00.000[...]
