interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//iex/MSFT/prices?endDate=2017-07-01&resampleFreq=1min&startDate=2017-06-01&ticker=MSFT
  response:
    body: {string: '[{"date":"2017-06-26T15:44:00.000Z","open":70.92,"high":70.93,"low":70.92,"close":70.93},{"date":"2017-06-26T15:45:00.000Z","open":70.93,"high":70.93,"low":70.93,"close":70.93},{"date":"2017-06-26T15:46:00.000Z","open":70.93,"high":70.93,"low":70.93,"close":70.93},{"date":"2017-06-26T15:47:00.000Z","open":70.94,"high":70.94,"low":70.94,"close":70.94},{"date":"2017-06-26T15:48:00.000Z","open":70.94,"high":70.94,"low":70.94,"close":70.94},{"date":"2017-06-26T15:49:00.000Z","open":70.94,"high":70.94,"low":70.94,"close":70.94},{"date":"2017-06-26T15:50:00.000Z","open":70.94,"high[...]
