interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com//tiingo/daily/AAPL
  response:
    body:
      string: '{"startDate": "1980-12-12", "exchangeCode": "NASDAQ", "name": "Apple
        Inc", "endDate": "2019-07-26", "ticker": "AAPL", "description": "Apple Inc.
        (Apple) designs, manufactures and markets mobile communication and media devices,
        personal computers, and portable digital music players, and a variety of related
        software, services, peripherals, networking solutions, and third-party digital
        content and applications. The Company''s products and services include iPhone,
        iPad, Mac, iPod, Apple TV, a portfolio of consumer and professional software
        applications, the iOS and OS X operating systems, iCloud, and a variety of
        accessory, service and support offerings. The Company also delivers digital
        content and applications through the iTunes Store, App StoreSM, iBookstoreSM,
        and Mac App Store. The Company distributes its products worldwide through
        its retail stores, online stores, and direct sales force, as well as through
        third-party cellular network carriers, wholesalers, retailers, and value-added
        resellers. In February 2012, the Company acquired app-search engine Chomp."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
