interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com//tiingo/daily/AAPL/prices?endDate=2017-12-01&format=json&resampleFreq=daily&startDate=2011-12-30
  response:
    body:
      string: '[{"date":"2011-12-30T00:00:00.000Z","close":405.0,"high":406.28,"low":403.49,"open":403.51,"volume":6416500,"adjClose":50.6787788105,"adjHigh":50.8389487781,"adjLow":50.4898283019,"adjOpen":50.4923309576,"adjVolume":44915544,"divCash":0.0,"splitFactor":1.0},{"date":"2012-01-03T00:00:00.000Z","close":411.23,"high":412.5,"low":409.0,"open":409.4,"volume":10793600,"adjClose":51.4583560747,"adjHigh":51.6172747144,"adjLow":51.1793099593,"adjOpen":51.2293630741,"adjVolume":75555275,"divCash":0.0,"splitFactor":1.0},{"date":"2012-01-04T00:00:00.000Z","close":413.44,"high":414.68,"low":409.28,"open":410.0,"volume":9286500,"adjClose":51.7348995344,"adjHigh":51.8900641905,"adjLow":51.2143471397,"adjOpen":51.3044427465,"adjVolume":65005565,"divCash":0.0,"[...]
