interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//iex/MSFT/prices?endDate=2018-01-09&resampleFreq=20min&startDate=2017-12-29&ticker=MSFT
  response:
    body: {string: '[{"date":"2017-12-29T14:40:00.000Z","open":85.98,"high":85.98,"low":85.82,"close":85.95},{"date":"2017-12-29T15:00:00.000Z","open":85.93,"high":85.985,"low":85.85,"close":85.96},{"date":"2017-12-29T15:20:00.000Z","open":85.96,"high":85.99,"low":85.91,"close":85.955},{"date":"2017-12-29T15:40:00.000Z","open":85.975,"high":85.985,"low":85.685,"close":85.73},{"date":"2017-12-29T16:00:00.000Z","open":85.73,"high":85.73,"low":85.58,"close":85.67},{"date":"2017-12-29T16:20:00.000Z","open":85.575,"high":85.725,"low":85.55,"close":85.57},{"date":"2017-12-29T16:40:00.000Z","open":85.5[...]
