interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//tiingo/daily/AAPL/prices?endDate=2017-12-01&format=json&resampleFreq=daily&startDate=2012-01-01
  response:
    body: {string: '[{"date":"2012-01-03T00:00:00.000Z","close":411.23,"high":412.5,"low":409.0,"open":409.4,"volume":10793600,"adjClose":52.6588723867,"adjHigh":52.8214985762,"adjLow":52.3733161641,"adjOpen":52.4245370112,"adjVolume":75555275,"divCash":0.0,"splitFactor":1.0},{"date":"2012-01-04T00:00:00.000Z","close":413.44,"high":414.68,"low":409.28,"open":410.0,"volume":9286500,"adjClose":52.9418675669,"adjHigh":53.100652193,"adjLow":52.4091707571,"adjOpen":52.5013682818,"adjVolume":65005565,"divCash":0.0,"splitFactor":1.0},{"date":"2012-01-05T00:00:00.000Z","close":418.03,"high":418.55,"low":412.67,"open":414.95,"volume":9688200,"adjClose":53.5296267875,"adjHigh":53.5962138887,"adjLow":52.8432674363,"adjOpen":53.1352262648,"adjVolume":67817467,"divCash":0.0,[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com//tiingo/daily/AAPL/prices?endDate=2012-01-01&format=json&resampleFreq=daily&startDate=2012-01-01
  response:
    body: {string: '[]'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
