interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com//iex/FB/prices?endDate=2018-01-09&resampleFreq=20min&startDate=2017-12-29&ticker=FB
  response:
    body:
      string: '[{"date":"2017-12-29T14:40:00.000Z","open":178.68,"high":178.73,"low":178.09,"close":178.1},{"date":"2017-12-29T15:00:00.000Z","open":178.05,"high":178.05,"low":177.765,"close":177.91},{"date":"2017-12-29T15:20:00.000Z","open":177.92,"high":177.98,"low":177.78,"close":177.975},{"date":"2017-12-29T15:40:00.000Z","open":177.97,"high":178.02,"low":177.35,"close":177.48},{"date":"2017-12-29T16:00:00.000Z","open":177.48,"high":177.48,"low":176.95,"close":177.145},{"date":"2017-12-29T16:20:00.000Z","open":177.145,"high":177.255,"low":177.08,"close":177.12},{"date":"2017-12-29T16:40:00[...]
